.top {
  display: flex;
}

.napoleon {
  width: 500px;
  height: 250px;
}

.napoleon:hover {
}

.quote {
  margin-top: 150px;
  font-size: 20px;
  font-style: italic;
}

body {
  background-image: url("parchment.png");
  background-size: cover; /* make it fill the page */
  background-repeat: no-repeat;
  background-position: center;
}

.plutarch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plutarch p {
  font-size: 20px;
  text-align: justify;
  font-family: "EB Garamond", serif;
  padding: 40px;
}

.plutarch img {
  width: 300px;
  height: 300px;
}

.lives-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.life-pair {
  display: flex;
  gap: 20px;
}

.life-entry img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px black;
}

.life-entry img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}
