.top {
  display: flex;
  align-items: center;
}

.napoleon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.napoleon:hover {
}

.quote {
  font-size: 20px;
  font-style: italic;
}

body {
  background-image: url("parchment.png");
  background-size: cover; /* make it fill the page */
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.plutarch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plutarch p {
  font-size: 20px;
  text-align: justify;
  font-family: "EB Garamond", serif;
  padding: 40px;
}

.lives-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.life-pair {
  display: flex;
  gap: 20px;
}

.life-entry img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px black;
  cursor: pointer;
}
