body {
  background-image: url("/parchment.png");
}
.alexander {
}
.text {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.alexander img {
  height: 400px;
  width: 400px;
  float: left; /* Pushes the image to the left, allowing text to wrap on the right */
  margin-right: 20px; /* Adds space between the image and the text */
  margin-bottom: 10px; /* Adds space below the image */
  margin-left: 100px;
  margin-right: 40px;
}
